<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hyperledger IROHA Python Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/1.png') }}">
    <style>
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
    </style>

</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row">
            <div class="col">
                <div class="jumbotron jumbotron-h1">
                          <h1><strong>Hyperledger IROHA Python Test</strong></h1>
                          <h5 align="right"><span class="badge badge-success">BLOCKCHAIN tech</span></h5>
                  </div>
            </div>
            </div>
                <!-- Button with the link to the other html file. In this case a link between network.html and node.html. -->
                <!-- COPY AND PASTE FOR A NEW BUTTON -->
            <hr>
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Iroha Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/iroha_accounts">Iroha Accounts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/iroha_send">Iroha Send TX</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/iroha_understanding">Iroha</a>
                            </li>
                        </ul>
                    </div>
                </div>
            <hr>
              <!-- COPY AND PASTE FOR A NEW BUTTON -->
              <!-- Button with the link to the other html file. In this case a link between network.html and node.html. -->
            <div class="row">
              <div class="col">
                <div class="jumbotron bg-white">
                    <div class="form-group">
                        <h2><strong>Hyperledger Iroha: </strong></h2>
                        <img class="img-fluid" src="/static/img/1.png" alt="1_img">
                        <br><br>
                        <div class="alert alert-secondary alert-dismissible fade show">
                            <h4 class="alert-heading"><strong>Where can Iroha be used?</strong></h4>
                            <p>Hyperledger Iroha is a general purpose permissioned blockchain system that can be used to manage digital assets, identity, and serialized data. This can be useful for applications such as interbank settlement, central bank digital currencies, payment systems, national IDs, and logistics, among others.</p>
                        </div><br>
                    </div>
                </div>
              </div>
            </div>
    </div>
</body>

</html>
